header
  .header-inner
    .logo-wrapper
      img(src="./assets/img/logo.png")
    .right-side-wrapper
      nav
        include nav
      .buttons-wrapper
        .button.sign-in Войти
        .button.sign-up Зарегистрироваться
