- var menu = [{ name: "О нас", dropdown: false }, { name: "Услуги", dropdown: true }, { name: "Вакансии", dropdown: false }, { name: "Новости", dropdown: false }, { name: "Соглашения", dropdown: true } ]
ul
  each item in menu
    li= item.name