extends ../layouts/uikit-main
include ../includes/elements/text-field
include ../includes/elements/date_dropdown
include ../includes/elements/filter_date_dropdown
include ../includes/elements/subscription_text_field.pug
include ../includes/elements/dropdown.pug

block variables
  - var title = "Form Elements"

block content
  .container
    .ui-wrapper
      .ui-column
        .row
          +textField('email', 'email', 'Email')
        .row
          +textField('date', 'text','ДД.ММ.ГГГГ')
        .row 
          +dateDropdown('pickup-date')
        .row
          +filterDateDropdown('filter-date')
        .row
          +subscriptionTextField('text-field')
        .row
          +dropdown('room_dropdown', "Настройка номера", {name: 'Спальни', id: 'room' }, {name: 'Кровати', id: 'bad' }, {name: 'Ванные комнаты', id: 'bath' })
        .row
          +dropdown('guest_dropdown',"Сколько гостей", {name: 'Взрослые', id: 'adults' }, {name: 'Дети', id: 'childrens' }, {name: 'Младенцы', id: 'babies' })
          
