extends ../layouts/uikit-main
include ../includes/components/text-field
include ../includes/elements/date_dropdown

block variables
  - var title = "Form Elements"

block content
  .container
    .ui-wrapper
      .ui-column
        .row
          +textField('email', 'email', 'Email')
        .row
          +textField('date', 'text','ДД.ММ.ГГГГ')
        .row 
          +dateDropdown('pickup-date')